<!DOCTYPE html>
<html>
<head>
  <title>Lekker Plekke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Grayscale theme from startbootstrap.com -->
    <link href="css/grayscale.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
